/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap') */

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
}

/*  Navbar  */
#navbar{
    display: flex;
    background-color: rgba(0, 0, 0,0.6);
    color: white;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;

}

#navbar .navbar-container{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

#navbar .navbar-container .logo{
    height: 40px;
    width: auto;

}

#navbar .navbar-container ul{
    display: flex;
    list-style: none;
    font-weight: bold;
}

#navbar .navbar-container ul li{
    padding: 0 10px;
}

#navbar .navbar-container ul li:nth-child(3){
    border-right: 1px solid white;
}

/*  Showcase  */
#showcase{

}